# Bibliotheken

In [1]:
import pandas as pd
import numpy as np

In [6]:
df_test1 = pd.read_pickle("../Daten/energy_test1.pkl")
df_test2 = pd.read_pickle("../Daten/energy_test2.pkl")
df_train = pd.read_pickle("../Daten/energy_train.pkl")
df_forecasts = pd.read_pickle("../Daten/forecasts.pkl")

In [7]:
df_test1

                           dtm              ref_datetime  Solar_capacity_mwp
0    2023-01-01 00:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
1    2023-01-01 01:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
2    2023-01-01 02:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
3    2023-01-01 03:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
4    2023-01-01 04:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
...                        ...                       ...                 ...
7268 2023-10-30 20:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7269 2023-10-30 21:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7270 2023-10-30 22:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7271 2023-10-30 23:00:00+00:00 2023-10-29 18:00:00+00:00         2452.950587
7272 2023-10-31 00:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019

[7245 rows x 3 columns]

In [8]:
df_test2

                           dtm              ref_datetime  Solar_capacity_mwp
0    2023-10-31 01:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
1    2023-10-31 02:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
2    2023-10-31 03:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
3    2023-10-31 04:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
4    2023-10-31 05:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
...                        ...                       ...                 ...
9330 2024-11-22 19:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562944
9331 2024-11-22 20:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562903
9332 2024-11-22 21:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562872
9333 2024-11-22 22:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562858
9334 2024-11-22 23:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562858

[7465 rows x 3 columns]

In [9]:
df_train

,dtm,ref_datetime,Solar_capacity_mwp,Solar_MWh
0,2020-09-21 00:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
1,2020-09-21 01:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
2,2020-09-21 02:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
3,2020-09-21 03:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
4,2020-09-21 04:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
...,...,...,...,...
19963,2022-12-31 19:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19964,2022-12-31 20:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19965,2022-12-31 21:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19966,2022-12-31 22:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19967,2022-12-31 23:00:00+00:00,2022-12-30 18:00:00+00:00,2237.476835,0.0