In [10]:
!pip.get_installed_distributions(local_only=True)

Der Befehl "pip.get_installed_distributions" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [9]:
!pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\qmowo\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\qmowo\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\qmowo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\qmowo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\qmowo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\qmowo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Bibliotheken

In [17]:
import numpy as np
import pandas as pd
import missingno as msno
from sklearn import linear_model, metrics
import plotly_express as px

print(pd.__version__)
print(np.__version__)
print(msno.__version__)
print(px.__version__)

2.2.3
2.1.3
0.5.2
0.4.1

In [18]:
df_test1 = pd.read_pickle("../Daten/energy_test1.pkl")
df_test2 = pd.read_pickle("../Daten/energy_test2.pkl")
df_train = pd.read_pickle("../Daten/energy_train.pkl")
df_forecasts = pd.read_pickle("../Daten/forecasts.pkl")

In [19]:
df_test1

                           dtm              ref_datetime  Solar_capacity_mwp
0    2023-01-01 00:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
1    2023-01-01 01:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
2    2023-01-01 02:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
3    2023-01-01 03:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
4    2023-01-01 04:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
...                        ...                       ...                 ...
7268 2023-10-30 20:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7269 2023-10-30 21:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7270 2023-10-30 22:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7271 2023-10-30 23:00:00+00:00 2023-10-29 18:00:00+00:00         2452.950587
7272 2023-10-31 00:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019

[7245 rows x 3 columns]

In [20]:
df_test1.dtypes

dtm                   datetime64[ns, UTC]
ref_datetime          datetime64[ns, UTC]
Solar_capacity_mwp                float64
dtype: object

In [21]:
df_test1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7245 entries, 0 to 7272
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   dtm                 7245 non-null   datetime64[ns, UTC]
 1   ref_datetime        7245 non-null   datetime64[ns, UTC]
 2   Solar_capacity_mwp  7245 non-null   float64
dtypes: datetime64[ns, UTC](2), float64(1)
memory usage: 226.4 KB

In [22]:
df_test2

                           dtm              ref_datetime  Solar_capacity_mwp
0    2023-10-31 01:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
1    2023-10-31 02:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
2    2023-10-31 03:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
3    2023-10-31 04:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
4    2023-10-31 05:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019
...                        ...                       ...                 ...
9330 2024-11-22 19:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562944
9331 2024-11-22 20:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562903
9332 2024-11-22 21:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562872
9333 2024-11-22 22:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562858
9334 2024-11-22 23:00:00+00:00 2024-11-21 18:00:00+00:00         2776.562858

[7465 rows x 3 columns]

In [23]:
df_test2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7465 entries, 0 to 9334
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   dtm                 7465 non-null   datetime64[ns, UTC]
 1   ref_datetime        7465 non-null   datetime64[ns, UTC]
 2   Solar_capacity_mwp  7465 non-null   float64
dtypes: datetime64[ns, UTC](2), float64(1)
memory usage: 233.3 KB

In [24]:
df_train

,dtm,ref_datetime,Solar_capacity_mwp,Solar_MWh
0,2020-09-21 00:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
1,2020-09-21 01:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
2,2020-09-21 02:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
3,2020-09-21 03:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
4,2020-09-21 04:00:00+00:00,2020-09-20 00:00:00+00:00,2130.510089,0.0
...,...,...,...,...
19963,2022-12-31 19:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19964,2022-12-31 20:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19965,2022-12-31 21:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19966,2022-12-31 22:00:00+00:00,2022-12-30 18:00:00+00:00,2212.678300,0.0
19967,2022-12-31 23:00:00+00:00,2022-12-30 18:00:00+00:00,2237.476835,0.0

In [25]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19968 entries, 0 to 19967
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   dtm                 19968 non-null  datetime64[ns, UTC]
 1   ref_datetime        19968 non-null  datetime64[ns, UTC]
 2   Solar_capacity_mwp  19968 non-null  float64
 3   Solar_MWh           19964 non-null  float64
dtypes: datetime64[ns, UTC](2), float64(2)
memory usage: 624.1 KB

In [26]:
# TODO Zeilen anpassen (durchschnitt, vorheriger Wert) oder lÃ¶schen
df_train[df_train.Solar_MWh.isna()] # empfohlen

,dtm,ref_datetime,Solar_capacity_mwp,Solar_MWh
19255,2022-12-02 07:00:00+00:00,2022-12-01 06:00:00+00:00,2205.659752,NaN
19256,2022-12-02 08:00:00+00:00,2022-12-01 06:00:00+00:00,2205.659763,NaN
19257,2022-12-02 09:00:00+00:00,2022-12-01 06:00:00+00:00,2205.659763,NaN
19258,2022-12-02 10:00:00+00:00,2022-12-01 06:00:00+00:00,2205.659763,NaN

In [28]:
df_forecasts

,ref_datetime,valid_time,SolarDownwardRadiation,CloudCover,Temperature,Weather Model
0,2020-09-20 00:00:00+00:00,20,-0.010547,0.366211,13.823755,DWD ICON
1,2020-09-20 00:00:00+00:00,21,0.001263,0.471512,13.427564,DWD ICON
2,2020-09-20 00:00:00+00:00,22,0.001532,0.398212,13.093005,DWD ICON
3,2020-09-20 00:00:00+00:00,23,-0.001624,0.292247,12.667871,DWD ICON
4,2020-09-20 00:00:00+00:00,24,-0.008356,0.327759,12.216522,DWD ICON
...,...,...,...,...,...,...
606792,2024-11-24 06:00:00+00:00,68,1.820000,1.000000,2.050000,NCEP GFS
606793,2024-11-24 06:00:00+00:00,69,0.930000,1.000000,2.700000,NCEP GFS
606794,2024-11-24 06:00:00+00:00,70,0.050000,1.000000,3.130000,NCEP GFS
606795,2024-11-24 06:00:00+00:00,71,0.000000,1.000000,3.560000,NCEP GFS
606796,2024-11-24 06:00:00+00:00,72,0.000000,1.000000,3.880000,NCEP GFS

In [29]:
df_forecasts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606797 entries, 0 to 606796
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ref_datetime            606797 non-null  datetime64[ns, UTC]
 1   valid_time              606797 non-null  int64
 2   SolarDownwardRadiation  605571 non-null  float64
 3   CloudCover              606422 non-null  float64
 4   Temperature             606494 non-null  float64
 5   Weather Model           606797 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(1), object(1)
memory usage: 27.8+ MB

In [32]:
df_forecasts[df_forecasts.SolarDownwardRadiation.isna()] # empfohlen

,ref_datetime,valid_time,SolarDownwardRadiation,CloudCover,Temperature,Weather Model
4770,2020-10-13 06:00:00+00:00,20,NaN,NaN,NaN,DWD ICON
4771,2020-10-13 06:00:00+00:00,21,NaN,NaN,NaN,DWD ICON
4772,2020-10-13 06:00:00+00:00,22,NaN,NaN,NaN,DWD ICON
4773,2020-10-13 06:00:00+00:00,23,NaN,NaN,NaN,DWD ICON
4774,2020-10-13 06:00:00+00:00,24,NaN,NaN,NaN,DWD ICON
...,...,...,...,...,...,...
319956,2021-03-26 18:00:00+00:00,68,NaN,0.0,16.884634,NCEP GFS
319957,2021-03-26 18:00:00+00:00,69,NaN,0.0,16.942698,NCEP GFS
319958,2021-03-26 18:00:00+00:00,70,NaN,0.0,16.250010,NCEP GFS
319959,2021-03-26 18:00:00+00:00,71,NaN,0.0,15.012726,NCEP GFS
319960,2021-03-26 18:00:00+00:00,72,NaN,0.0,12.896057,NCEP GFS