In [1]:
!pip install numpy --upgrade

Requirement already satisfied: numpy in c:\users\achim\anaconda3\envs\dsc4\lib\site-packages (1.26.4)
Collecting numpy
  Downloading numpy-2.1.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     --------------------------------- ------ 51.2/60.8 kB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 60.8/60.8 kB 1.1 MB/s eta 0:00:00
Downloading numpy-2.1.3-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.9 MB 1.4 MB/s eta 0:00:10
   ---------------------------------------- 0.0/12.9 MB 1.4 MB/s eta 0:00:10
   - -------------------------------------- 0.6/12.9 MB 4.9 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/12.9 MB 6.4 MB/s eta 0:00:02
   ----- ---------------------------------- 1.7/12.9 MB 7.9 MB/s eta 0:00:02
   ------- -------------------------------- 2.3/12.9 MB 9.1 MB/s eta 0:00:02
   -------- ------------------------------- 2.7/12.9 MB 9.0 MB/s eta 0:00:02
   ---------- ----------------------------- 3.5/12.9 MB 9.8 MB/s eta 0:00:01
   ------------- -------------------------- 4.3/12.9 MB 10.5 MB/s eta 0:00:01
   --------------- ------------------------ 5.1/12.9 MB 11.6 MB/s eta 0:00:01
   ---------------- ----------------------- 5.3/12.9 MB 11.3 MB/s eta 0:00:01
   ----------------- ---------------------- 5.6/12.9 MB 10.9 MB/s eta 0:00:01
   ------------------ --------------------- 5.9/12.9 MB 10.4 MB/s eta 0:00:01
   -------------------- ------------------- 6.5/12.9 MB 10.3 MB/s eta 0:00:01
   --------------------- ------------------ 6.9/12.9 MB 10.2 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/12.9 MB 10.9 MB/s eta 0:00:01
   -------------------------- ------------- 8.5/12.9 MB 11.1 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.9 MB 11.5 MB/s eta 0:00:01
   ------------------------------- -------- 10.0/12.9 MB 11.7 MB/s eta 0:00:01
   -------------------------------- ------- 10.4/12.9 MB 12.6 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.9 MB 12.6 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.9 MB 12.6 MB/s eta 0:00:01
   ---------------------------------- ----- 11.2/12.9 MB 11.7 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.9 MB 11.5 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------  12.8/12.9 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 10.9 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
Successfully installed numpy-2.1.3

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
numba 0.60.0 requires numpy<2.1,>=1.22, but you have numpy 2.1.3 which is incompatible.
tensorflow-intel 2.16.1 requires numpy<2.0.0,>=1.23.5; python_version <= "3.11", but you have numpy 2.1.3 which is incompatible.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_pickle("../Daten/energy_test1.pkl")

In [6]:
df

                           dtm              ref_datetime  Solar_capacity_mwp
0    2023-01-01 00:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
1    2023-01-01 01:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
2    2023-01-01 02:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
3    2023-01-01 03:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
4    2023-01-01 04:00:00+00:00 2022-12-31 00:00:00+00:00         2262.233423
...                        ...                       ...                 ...
7268 2023-10-30 20:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7269 2023-10-30 21:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7270 2023-10-30 22:00:00+00:00 2023-10-29 18:00:00+00:00         2452.979156
7271 2023-10-30 23:00:00+00:00 2023-10-29 18:00:00+00:00         2452.950587
7272 2023-10-31 00:00:00+00:00 2023-10-30 00:00:00+00:00         2452.922019

[7245 rows x 3 columns]